# Format Style Options - Created with Clang Power Tools
---
AlignConsecutiveAssignments: AcrossEmptyLines
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignOperands: Align
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: false
IndentCaseBlocks: true
IndentWidth: 4
SpaceBeforeCaseColon: false
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
TabWidth: 4
UseCRLF: true
...
